.voice-search-block {
  position: relative;
}
.voice-search-block .search-icon {
  margin-left: -21px;
  vertical-align: middle;
  height: 17px;
  display: inline-block;
  width: 15px;
  margin-right: 6px;
}

#voice_search {
  background: #434a54 !important;
  padding-top: 25px ! important;
  padding: 15px 20px 10px;
}

.speak-now-section {
  width: 100%;
  height: 66px;
  background: #434a54;
  position: fixed;
  top: 0;
  z-index: 999999;
  display: none;
}

.speak-now-text {
  color: #fff;
  float: left;
  font-size: 24px;
  position: relative;
  width: 50%;
}

.speak-now-icon {
  float: left;
  text-align: left;
  width: 50%;
}

.voice-icon {
  height: 35px;
  width: 35px;
  border-radius: 50px;
  background-color: #ff4445;
  box-shadow: 0px 1px 10px #c0c0c0;
  pointer-events: none;
  z-index: 9999;
  position: absolute;
}

.voice-icon img {
  padding: 11px;
  vertical-align: middle;
}

.close-voice-search {
  float: right;
  margin-top: 15px;
  cursor: pointer;
  margin-right: 27px;
}

#voice-search-speak-now--search-text {
  display: none;
}

#voice-search-speak-now-retry-text {
  display: none;
}

#voice-search-speak-now-retry-text {
  font-size: 18px;
  color: #fff;
  width: 50%;
  float: left;
}

#voice-search-speak-now-retry-text a {
  font-size: 18px;
  color: #fff;
  text-decoration: underline;
}
